---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    <!-- tags -->
    <div class="post-tags">
      {% for tag in page.tags %}
        <a class="post-tag" href="{{ root_url }}/blog/tag#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
